<h1>Sync Profiles</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Sections Syncing</th>
      <th>School Year</th>
    </tr>
  </thead>
  <tbody>
    <% @sync_profiles.each do |p| %>
      <tr>
        <td><%= link_to p.id, sync_profile_path(p) %></td>
        <td><%= link_to p.user, user_path(p.user) %></td>
        <td><%= p.enabled_subscriptions_count %></td>
        <td><%= p.school_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
