<div class="alert alert-success mb-0 hide" role="alert">
  <span class="message"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Classroom Console</h1>
      <p class="lead mt-3 mb-4">Focus on your students. Synchronize your learning platforms. Empower existing Blackbaud solutions with the flexibility of Canvas.</p>
      <p>
        <!-- Button trigger modal -->
        <button type="button" id="openSubscribeForm" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#subscribeModal">
          Subscribe for Email Updates
        </button>
<!--        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>-->
      </p>

    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Synchronize</h2>
        <p class="lead">Use Canvas for courses. Use Blackbaud for enrollment. Automatically create and keep up-to-date Canvas courses. Sync assignments and grades from Canvas to Blackbaud LMS.</p>
        <p><button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#underDevelopmentModal">View details »</button></p>
      </div>
      <div class="col-md-4">
        <h2>Data Integrity</h2>
        <p class="lead">Query grades, enrollments, courses, etc. for a date and time in the past. Track changes to grades, assignments, and enrollments.</p>
        <p><button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#underDevelopmentModal">View details »</button></p>
      </div>
      <div class="col-md-4">
        <h2>Analytics</h2>
        <p class="lead">Visualize student performance data so you can make the best decisions to drive learning. See what works and discover opportunities for improvement using real-time data.</p>
        <p><button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#underDevelopmentModal">View details »</button></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
<footer class="container">
  <blockquote class="blockquote">
    <p class="mb-0">"An investment in knowledge pays the best interest."</p>
    <footer class="blockquote-footer"><cite title="Source Title">Benjamin Franklin</cite></footer>
  </blockquote>
</footer>

<!-- Modal -->
<div class="modal fade in" id="subscribeModal" aria-labelledby="subscribeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subscribeModalLabel">Subscribe for Email Updates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/subscribe" method="post" data-remote="true">
        <div class="modal-body">
          <div class="form-group">
            <label for="userEmail">Email address</label>
            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="" name="email" required>
            <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else. Cancel whenever.</small>
          </div>
          <!--          <div class="form-group form-check">-->
          <!--            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
          <!--            <label class="form-check-label" for="exampleCheck1">Receive Monthly Newsletter</label>-->
          <!--          </div>-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Go back</button>
          <button type="submit" id="subscribeButton" class="btn btn-primary">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade in" id="underDevelopmentModal" aria-labelledby="underDevelopmentLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="underDevelopmentLabel">We're sorry!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>That feature is currently under development! Thank you for using our product, check back daily for new updates!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>