nav
  z-index: 10

.center_the_thing
  display: flex
  position: absolute
  height: 100%
  width: 100%
  top: 0
  left: 0
  background: #e9ecef

.centered_thing
  z-index: 20

  margin: auto
  background: #fff
  width: 400px

  background-clip: padding-box
  border: 1px solid rgba(0, 0, 0, 0.2)
  border-radius: 0.3rem

.hide
  display: none

table
  width: 100%
  margin: 0 auto

th
  white-space: nowrap

.nowrap
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis